
box-sizing: border-box;

.header {
    border: 1px solid red;
    padding: 15px;
    border: 1px;
}
.menu {
    width: 250px;
    float: right;
    padding: 15px;
    border: 0px solid red;
}
.main {
    width: 75%;
    float: center;
    padding: 15px;
    border: 0px solid red;
}
p {
  text-align: center;
  font-size: 60px;
}